//- Header - Navigation bar of the interface

nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
  div(class="container")
    a(class="navbar-brand" href="#")
      img(src="/images/homer.png" width="30" height="30" class="d-inline-block align-top" alt="")
      text Homer
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toogle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarNav")
      ul(class="navbar-nav mr-auto")
        li(class="navbar-item")
          a(class="nav-link" href="/") #{__('dashboard.header.home')}
        if authenticated
          li(class="navbar-item")
            a(class="nav-link" href="/servers") #{__('dashboard.header.servers')}
        li(class="navbar-item")
          a(class="nav-link" href="/invite") #{__('dashboard.header.invite')}
        li(class="navbar-item")
          a(class="nav-link" href="/support") #{__('dashboard.header.support')}
        if admin
          li(class="navbar-item")
            a(class="nav-link" href="/admin") #{__('dashboard.header.admin')}
        if !authenticated
          li(class="navbar-item")
            a(class="nav-link" href="/auth/login") #{__('dashboard.header.login')}
        else
          li(class="nav-item")
            a(class="nav-link" href="/auth/logout") #{__('dashboard.header.logout')}

      span(class="navbar-text") !{nameDisplay}
