//- Admin - Represents the admin section.

<!DOCTYPE html>
html(lang=`${locale}`)
  head
    include modules/head.pug
  body
    include modules/header.pug

    div(class="jumbotron jumbotron-fluid")
      div(class="container text-center")
        h1(class="mbr-section-title mbr-bold mbr-fonts-style text-center") ✏ Write an article
        hr
        form(action="/admin/articles/post" method="POST")
          div(class="form-group")
            label(for="title") Title
            input(type="text" class="form-control" name="title" id="title")
          br
          div(class="form-group")
            label(for="content") Content
            textarea(class="form-control" rows="5" name="content" id="content")
          br
          button(type="submit" class="btn btn-success") Post an article
        
    div(class="jumbotron jumbotron-fluid")
      div(class="container text-center")
        h1(class="mbr-section-title mbr-bold mbr-fonts-style text-center") 📰 Articles
        hr
        each article in articles
          div(class="card")
            div(class="card-body")
            span(class="row")
              div(class="d-flex justify-content-between w-100")
                p
                  a(href=`/articles/${article.id}` class="nav-link" style="color: inherit;") #{article.title}
                p
                  a(href=`/admin/articles/edit/${article.id}` class="btn btn-primary") Edit
                  a(href=`/admin/articles/delete/${article.id}` class="btn btn-danger") Delete
        
    include modules/footer.pug

    include modules/javascript.pug