<!DOCTYPE html>
html(lang=`${locale}`)
  head
    include modules/head.pug
  body
    include modules/header.pug

    div(class="jumbotron jumbotron-fluid")
      div(class="container text-center")
        h1(class="mbr-section-title mbr-bold mbr-fonts-style text-center") 🏙 Servers
        hr
        if success === 'guildLeft'
          div(class="alert alert-primary alert-dismissible fade show" role="alert")
            | The bot has left the guild **#{guildName}**!
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") &times;

        table(class="table datatable" data-id-field="name" data-sort-order="desc")
          thead
            tr
              th(data-field="code" data-sortable="true") Name
              th(data-sortable="true") Members
              th(data-sortable="true") Bots
              th(data-sortable="true") Owner
              th(data-sortable="true") Join
              th Actions
          tbody
            each guild in guilds
              tr
                td(data-field="code" data-sortable="true")
                  a(href=`/server/${guild.id}`) #{guild.name}
                td #{guild.members}
                td #{guild.bots}%
                td
                  a(href=`/user/${guild.owner.id}`) #{guild.owner.tag}
                td #{guild.join}
                td
                  a(href=`/admin/servers/leave?id=${guild.id}` class="btn btn-danger") Leave
        
    include modules/footer.pug

    include modules/javascript.pug
    include modules/datatable.pug