<!DOCTYPE html>
html(lang=`${locale}`)
  head
    include modules/head.pug
  body
    include modules/header.pug

    div(class="jumbotron jumbotron-fluid")
      div(class="container")
        h1(class="mbr-section-title mbr-bold mbr-fonts-style text-center") #{__('dashboard.home.articles')}
        hr
        each article in latestArticles
          blockquote(class="blockquote")
            p(class="mb-0")
              a(href=`/articles/${article.id}`) #{article.title}
            footer(class="blockquote-footer") #{new Date(article.published).toLocaleString()}
          hr

    div(class="jumbotron jumbotron-fluid")
      div(class="container")
        h1(class="mbr-section-title mbr-bold mbr-fonts-style text-center") #{__('dashboard.home.guildChart')}
        hr
        canvas(id="guildChart" height="90" width="90")

    include modules/footer.pug

    include modules/javascript.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js")
    script.
      const ctx = document.getElementById("guildChart");
      const chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: 'Evolution',
            data: [],
            borderWidth: 1,
          }],
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              },
            }],
          },
        },
      });

      const request = new XHRHttpRequest();

      request.onreadystatechange = (event) => {
        if (request.readystate === 4) {
          if (request.status !== 200) throw 'Error';

          const parsed = JSON.parse(request.responseText);
          parsed.list.forEach((entry) => {
            chart.data.labels.push(new Date(entry.time).getDate());
            chart.data.datasets[0].push(entry.count);
          });
        }
      };

      request.open('GET', '/api/guildChart', true);
      request.send(null);